/SimUDuck/build/
/Weather-O-Rama/nbproject/private/
/Weather-O-Rama/build/
/Weather-O-Rama builtin/nbproject/private/
/Weather-O-Rama builtin/build/
/SwingObserverExample/nbproject/private/
/Observer Design Pattern/SwingObserverExample/build/
/Decorator Design Pattern/Starbuzz/nbproject/private/
/Decorator Design Pattern/Starbuzz/build/
/Decorator Design Pattern/LowerCaseInputStream/nbproject/private/
/Decorator Design Pattern/LowerCaseInputStream/build/
/Factory Design Pattern/PizzaStore/nbproject/private/
/Factory Design Pattern/PizzaStoreFactoryPattern/nbproject/private/
/Factory Design Pattern/PizzaStoreFactoryPattern/build/
/Factory Design Pattern/PizzaAbstractFactory/nbproject/private/
/Factory Design Pattern/PizzaAbstractFactory/build/
/Factory Design Pattern/PizzaFactoryMethod/nbproject/private/
/Factory Design Pattern/PizzaFactoryMethod/build/
/Factory Design Pattern/Pizzas/nbproject/private/
/Singleton Design Pattern/Simple Singleton Example/nbproject/private/
/Singleton Design Pattern/Simple Singleton Example/build/
/Singleton Design Pattern/Simple Singleton Example/dist/
/Command Design Pattern/RemoteControl/nbproject/private/
/Command Design Pattern/RemoteControl/build/
/Command Design Pattern/RemoteControl_UNDO/nbproject/private/
/Command Design Pattern/RemoteControl_UNDO/build/
/Command Design Pattern/RemoteControl_Party/nbproject/private/
/Command Design Pattern/RemoteControl_Party/build/